<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Account</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Account Preferences
        </div>
        <div class="mt-3">
            <a class="btn btn-secondary" asp-area="User" asp-controller="Home" asp-action="Index" asp-route-returnurl="/Home/Index">
                <i class="fa-regular fa-user" style="margin-right:10px;"></i> Profile
            </a>
        </div>
        <div class="mt-3">
            <a class="btn btn-secondary" asp-area="User" asp-controller="Home" asp-action="Profile" asp-route-returnurl="/Home/Index">
                <i class="fa-regular fa-user" style="margin-right:10px;"></i> Profile Detail
            </a>
        </div>
        <div class="mt-3">
            <a class="btn btn-secondary" asp-area="User" asp-controller="Home" asp-action="PasswordChange" asp-route-returnurl="/Home/Index">
                <i class="fa-solid fa-lock" style="margin-right:10px;"></i> Change Password
            </a>
        </div>
        <div class="mt-3">
           
            <a class="btn btn-secondary" asp-area="Authentication" asp-controller="Home" asp-action="SignOut" asp-route-returnurl="/Home/Index">
                <i class="fa-solid fa-right-from-bracket" ></i> Sign Out
            </a>
        </div>
    </div>
</div>