
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Areas/Authentication/Views/Shared/_Layout.cshtml";
}

@model ResetPasswordViewModel
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="container">
    <div class="card" style="margin-top:5%;">
        <h3 class="card-header">Password Reset</h3>
        <div class="card-body">
            @if (@TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Well done!</strong> @TempData["SuccessMessage"] <a href="#" class="alert-link">you can return home page.</a>.
                </div>
            }

            <div asp-validation-summary=ModelOnly class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <form asp-controller="Home" asp-action="SignUp" method="post">
                <label asp-for="Password" for="Password" class="form-label"></label>
                <div class="mb-1 ">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-lock" style="margin-right:10px;"></i>
                        <input asp-for="Password" class="form-control" id="Password" placeholder="Password">
                    </div>
                    <span class="text-danger" asp-validation-for="Password" style="margin-left:5%;"></span>
                </div>
                <label asp-for="PasswordConfirm" for="PasswordConfirm" class="form-label"></label>
                <div class="mb-1">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-lock" style="margin-right:10px;"></i>
                        <input asp-for="PasswordConfirm" class="form-control" id="PasswordConfirm" placeholder="Password Confirm">
                    </div>

                    <span class="text-danger" asp-validation-for="PasswordConfirm" style="margin-left:5%;"></span>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right-to-bracket"></i> Reset Password </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
