
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@model PasswordChangeViewModel
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="container">   
    <div class="card" style="margin-top:5%;">
        <h3 class="card-header">Password Change</h3>
        <div class="card-body">
            @if (@TempData["SuccessMessage"] is not null)
            {
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Well done!</strong> @TempData["SuccessMessage"] <a asp-area="User" asp-controller="Home" asp-action="Index" class="alert-link">you can return home page.</a>.
                </div>
            }
            <div asp-validation-summary=ModelOnly class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            <form asp-area="User" asp-controller="Home" asp-action="PasswordChange" method="post">
                <label asp-for="CurrentPassword" for="PasswordOld" class="form-label"></label>
                <div class="mb-1 ">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-lock" style="margin-right:10px;"></i>
                        <input asp-for="CurrentPassword" class="form-control" for="PasswordOld" placeholder="Old Password">
                    </div>
                    <span class="text-danger" asp-validation-for="CurrentPassword" style="margin-left:5%;"></span>
                </div>
                <label asp-for="NewPassword" for="PasswordNew" class="form-label"></label>
                <div class="mb-1 ">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-lock" style="margin-right:10px;"></i>
                        <input asp-for="NewPassword" class="form-control" for="PasswordNew" placeholder="New Password">
                    </div>
                    <span class="text-danger" asp-validation-for="NewPassword" style="margin-left:5%;"></span>
                </div>
                <label asp-for="NewPasswordConfirm" for="PasswordNewConfirm" class="form-label"></label>
                <div class="mb-1 ">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-lock" style="margin-right:10px;"></i>
                        <input asp-for="NewPasswordConfirm" class="form-control" for="PasswordNewConfirm" placeholder="New Password Confirm">
                    </div>
                    <span class="text-danger" asp-validation-for="NewPasswordConfirm" style="margin-left:5%;"></span>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-arrow-right-to-bracket"></i> Change </button>
                </div>
            </form>
        </div>
    </div>
</div>

